

.container {
    display: flex;
}

.item-left {
    display: flex;
    flex-direction: row;
    flex: wrap;
    max-width: 600px;
    margin-left: 30px;
}

#project-title {
    width: fit-content;
    margin-left: 30px;
}

#project-image {
    max-height: 400px;
    align-items: center;
    overflow: hidden;
}

#pledge-title {
    margin-left: 30px;
    font-family: 'Chewy', cursive;
    font-size: 2rem;
    letter-spacing: 3px;
}

#pledge-list {
    list-style-type: circle;
}