

.container {
    display: flex;
}

.item-left {
    display: flex;
    flex-direction: row;
    flex: wrap;
    max-width: 600px;
    margin-left: 50px;
}

.item-right {
    margin-left: 50px;
}

#project-title {
    width: fit-content;
    margin-left: 50px;
}

#project-image {
    max-height: 400px;
    align-items: center;
    overflow: hidden;
    border: white 4px solid;
    border-radius: 15px;
}


#pledge-list {
    list-style-type: circle;
    margin-left: 50px;
}

#pledge-items {
    padding: 3px;
    margin-left: 50px;
}

#pledge-bottom {
    padding: 15px;
    margin-bottom: 30px;
    margin-left: 50px;
}