@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Pangolin&display=swap');

* {
  font-family: 'Pangolin', cursive;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid red;
  background-color: #F5BA41;
  color: white;
}

h1 {
  font-family: 'Chewy', cursive;
  font-size: 2.4rem;
  letter-spacing: 4px;
}

h2 {
  font-family: 'chewy', cursive;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

#project-list {
  display: grid;
  grid-template-columns:30% 30% 30%;
  column-gap: 3%;
  row-gap: 10px;
  justify-items: center;
}

.blue-btn {
  border: 2px white solid;
  border-radius: 5px;
  padding: 6px 20px;
}

.blue-btn:hover {
  background-color: #6041f5;
  animation: rotate 0.7s ease-in-out both;
}

.blue-btn:active {
  background-color: white;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0,0,0);
    }
    25% {
        transform: rotate(3deg) translate3d(0,0,0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0,0,0);
    }
    75% {
        transform: rotate(1deg) translate3d(0,0,0);
    }
    100% {
        transform: rotate(0deg) translate3d(0,0,0);
    }
}